################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/watering1/watering1/.vs/watering1/v14
/watering1/watering1/Debug
/watering1/watering1/__vm
/watering1/.vs/watering1/v14
/watering1/watering1/watering1.vcxproj.filters
.vscode/
/watering1/.vs/watering1/v15/.suo
/watering1/watering1/watering1/Debug
/watering1/watering1/watering1/__vm
/watering1/watering1/watering1/watering1.vcxproj.filters
/watering1/watering1/watering1/watering1.vcxproj
/car-robot/.vs/car-robot/v15
/car-robot/Debug
/car-robot/__vm
